$black-color: black;

$red-color: #eb0000;
$blue-color: #3b00eb;

.class-example {
    color: $red-color;
}
.class-example .class-example-2 {
    color: aqua;
    text-decoration: dashed;
}

div {
    p {
        color: $black-color;
    }
}